body {
    font-family: "Helvetica", "Arial", sans-serif;
    background-image: url("./images/bkgd.png");
    background-color: #333333;
    background-repeat: repeat;
}

nav ul li {
    font-size: 16px;
    display: inline;
    text-align: center;
    padding: 10px;
}

header {
    margin-top: -10px;
    background-color: #E5E5E5;
    opacity: 0.95;
    text-align: center;
    width: 960px;
    margin: 0 auto;
}

header h1 {
    padding-top: 15px;
}

li a {
    color: #000;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}

.container {
    background-color: #E5E5E5;
    width: 960px;
    margin: 0 auto;
}

p img {
    height: 600px;
    width: 600px;
    margin-left: 170px;
}

#nav {
    position: fixed;
}

.firsthead {
    position: relative;
   
    left: 140px;
}

.secondhead {
   position: relative;
    left: 325px; 
    
}

.thirdhead {
    left: 520px;
    position: relative;
}

/* TESTING TESTING */

.imgrow img {
    padding-left: 50px;
}

.titles p {
    display: inline-block;
    font-size: 24px;
}

.descriptions p {
    display: inline-block;
    font-size: 14px;
    width: 250px;
    padding-left: 50px;
    text-align: center;
}




